<h1 class="display-4"><%= @user.username %></h1>
<%if @myself%>
<p>Welcome back</p>
<% else %>
<%if @relationship.length == 0 %>
<%= link_to 'Add friend', "add/#{@user_id}" %>
<% else %>
<%= link_to 'Delete friend', "delete/#{@user_id}",
	        method: :delete,
	        data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

<% if @user.freetime %>
<p>
	<% @user.freetime.each do |f| %>

	<div class="card">
		<%= f.time.strftime("%A, %d %B %Y, %I %p") %>
		<%= link_to 'Schedule new event', "#{@user_id}/schedules/new" %>
	</div>

	<% end %>
</p>
<% end %>