<h1 class="display-4"><%= @user.username %></h1>
<%if @myself%>
<p>Welcome back</p>
<% else %>

<% if @relationship.length == 0 %>

<%= link_to 'Add friend', "add/#{@user_id}" %>

<% else %>

<button class="btn btn-danger mb-2">
	<%= link_to 'Delete friend', "delete/#{@user_id}",
	method: :delete,
	data: { confirm: 'Are you sure?' } %>
</button>
<% end %>
<% end %>

<% if @user.freetime %>
<div class="col-8 p-2" style="margin: 0 auto; background-color: #111111; border-radius: 10px">

	<h1 class="display-4 pt-2">Free times in common</h1>
	<div class="col-12 d-flex flex-wrap">
		<% @user.freetime.order("time ASC").each do |f| %>
		<% @myfreetime.each do |myfree| %>

		<% if f.time.in_time_zone("Singapore") > DateTime.now.in_time_zone("Singapore") && f.time.in_time_zone("Singapore") == myfree.time %>

		<!-- <% if false %> 
			TODO: change so that only time slots in common will show up
			<% end %> -->

		<div class="btn btn-outline-dark btn-block justify-content-center my-3 free-time-card m-2">
			<%= link_to("#{@user_id}/schedules/new?date=#{f.time.in_time_zone("Singapore")}") do %>

			<%= f.time.in_time_zone("Singapore").strftime("%A, %d %B %Y, %I %p") %>
			<div>Schedule new event!</div>
			<% end %>
		</div>

		<% end %>
		<% end %>
		<% end %>
	</div>
	<% end %>