<h4 class="text-center">This month is</h4>
<h1 class="display-4 text-center"><%= Date.today.strftime("%B") %> <%= Date.today.year() %></h1>

<div class="simple-calendar">

	<div class="calendar_container col-9" style="margin:0 auto">

		<div id="calendar">

			<%= month_calendar events: @schedules do |date, schedules| %>

			<%= date.day %>


			<% schedules.each do |schedule| %>
			<div class="event-title">

				<strong><%= schedule.start_time.hour %></strong>
				<a href="<%= schedule_path(schedule) %>">

					<%= schedule.event %> with
					<% schedule.users.each do |users| %>
					<%= users.username %></a>
				<% end %>
			</div>

			<% end %>
			<% end %>
		</div>
	</div>

	<%= link_to 'New event', new_schedule_path ,({:class => "btn btn-lg btn-outline-danger mb-3"})%>
</div>