<h4 class="text-center">This month is</h4>
<h1 class="display-4 text-center"><%= Date.today.strftime("%B") %> <%= Date.today.year() %></h1>

<%= link_to 'Add new event', new_schedule_path ,({:class => "btn btn-lg btn-outline-light mb-3"})%>

<div class="simple-calendar">

	<div class="calendar_container col-9" style="margin:0 auto">

		<div id="calendar">

			<%= month_calendar events: @schedules do |date, schedules| %>

			<%= date.day %>


			<% schedules.each do |schedule| %>
			<a href="<%= schedule_path(schedule) %>">
				<div class="event-title">

					<strong><%= schedule.start_time.strftime("%l%P") %></strong> -

					<%= schedule.event %>

					<% if schedule.users.length > 0 %>
					with
					<% schedule.users.each_with_index do |users, index| %>
					<% if index >= 1 %>
					& <%= users.username %>
					<% else %>
					<%= users.username %>
					<% end %>
					<% end %>
			</a>
			<% end %>
		</div>

		<% end %>
		<% end %>
	</div>
</div>

</div>