<div class="col-8" style="margin: 0 auto">

	<h1 class="display-4"><%= @schedule.event %></h1>

	<h4> on
		<%= @schedule.start_time.strftime("%A, %d %B %Y") %><br />
		<%= @schedule.start_time.strftime("%I:%M %p") %>
	</h4>


	<% if @schedule.users.length > 0 %>
	<h2>
		<br />
		Friends
	</h2>

	<div class="col-12 d-flex justify-content-between flex-wrap">
		<% @schedule.users.each do |users| %></a>
		<div class="card col-6" style="margin: 0 auto">
			<img src="<%= image_url 'friendship.png' %>" style="width:100%" />
			<div class=" card-body">
				<p class="card-text">
					<%= users.username %>
				</p>
			</div>
		</div>
		<% end %>
	</div>

	<% end %>

	<%= link_to 'Edit event', edit_schedule_path ,({:class => "btn btn-lg btn-outline-light m-3"})%>

</div>