<p id="notice"><%= notice %></p>

<h1>Games</h1>

<div class="card-columns d-inline-block">
  <% @games.each do |game| %>
      <div class="card text-center bg-light border-dark" style="width: 18rem;" >
        <img class="card-img-top mb-n2" src=<%= game.image_url %> alt=<%= game.name %>>
        <div class="card-body">
        <%  if user_signed_in?%>
         
        <% if game.users.select{|x| x.id == current_user.id}.length >0  %>
            <%= link_to "â¤ï¸", remove_game_path(game), :class => "float-right mt-n2", style: style="text-decoration: none" %>
          <% else %>
          <%= link_to "ðŸ¤", game_path(game), :class => "float-right mt-n2", style: style="text-decoration: none" %>
        <% end %>
        <% end %>
         
        <h3 class="card-title mt-n2 text-dark"><%= game.name %> </h3>
        
          <%  if user_signed_in?%>
            <% @friends.each do |friend| %>
              <% if game.users.select{|x| x.id == friend.id}.length >0  %>  
                <button class="btn btn-rounded btn-success btn-sm ml-n3" style="font-size: 0.7em;">
                <a href='/users/<%= friend.id %>' class="text-white"><%= friend.username %></a></button>          
              <% end %>
            <% end %>
          <% end %>

        </div>
        <div class="card-footer">
          <div>
            <small class="text-muted"><%= game.description %></small>
          </div>
        </div>
      </div>
     

  <% end %>

</div>

<br>
