<p id="notice"><%= notice %></p>

<h1>Games</h1>

<div class="card-columns d-inline-block">
    <% @games.each do |game| %>
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src=<%= game.image_url %> alt=<%= game.name %>>
        <div class="card-body">
          <h3 class="card-title"><%= game.name %></h3>
          <%  if user_signed_in?%>

          <% @allfriends.each do |friend| %>
          <button class="btn btn-rounded btn-success btn-sm ml-n3" style="font-size: 0.5em;">
       
          <%= friend.id %></button>          
          <% end %>
          <br/>
          <% end %>
          <% if game.users.select{|x| x.id == current_user.id}.length >0  %>
          <%= link_to "Remove from Favs", remove_game_path(game), :class => "btn btn-primary mt-1" %>
          <% elsif user_signed_in?%>
          <%= link_to "Add to Favs", game_path(game), :class => "btn btn-primary mt-1" %>
          
          <% end %>

        </div>
        <div class="card-footer">
          <div>
            <small class="text-muted"><%= game.description %></small>
          </div>
        </div>
      </div>
  <% if current_user.admin?%>
    <table>
    <thead>
    <tbody>
    <tr>
    <th colspan="3"></th>
    </tr>
    </thead>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tbody>
    </table>
  <% end %>
<% end %>

</div>

<br>

<% if current_user.admin?%>
  <%= link_to 'New Game', new_game_path %>
<% end %>