<div class="pulsation">
	<div class="jumbotron homeJumbo">
		<span></span>
		<span></span>
		<span></span>
		<span></span>

		<h1 class="display-4">Unity</h1>
		<p class="lead">Find friends with Unity, schedule time to play together</p>
	</div>
</div>



<div class="container-fluid">
	<div class="row d-flex justify-content-around">

		<div class="col-sm-12 col-lg-7 m-3 p-4" style="background-color: #111111; border-radius: 10px">
			<div>
				<p class="home-title">Upcoming Games</p>
				<div class="col-12 p-0"><a class="mybtn btn-block mx-auto my-3" href="<%= new_schedule_path %>"><i
							class="fas fa-plus"></i> Add new event</a></div>
			</div>
			<div class="row">
				<div class="col-12 scrollable" style="max-height: 30vh; overflow-y: auto;">
					<% @schedules.each do |schedule| %>
					<% unless schedule.start_time.in_time_zone("Singapore") < DateTime.current.in_time_zone("Singapore") %>
					<p>
						<a class="btn d-block btn-outline-dark" href="<%= schedule_path(schedule) %>" style="color: white">
							<%= schedule.event %><br />
							<%= schedule.start_time.strftime("%e %b - %I:00 %p") %>
							<% if schedule.users.length > 0 %>
							<br />with
							<% schedule.users.each_with_index do |users, index| %>
							<% if index >= 1 %>
							& <%= users.username %>
							<% else %>
							<%= users.username %>
							<% end %>
							<% end %>
							<% end %>
						</a>
					</p>
					<% end %>
					<% end %>

					<% @friend_schedule.each do |schedule| %>
					<p>
						<a class="btn d-block btn-outline-dark" href="<%= schedule_path(schedule) %>"
							style="color: white"><%= schedule.event %><br />
							<%= schedule.start_time.strftime("%e %b - %I:00 %p") %><br />
							invited by: <%= schedule.user.username%>
						</a>
					</p>
					<% end %>
				</div>
			</div>

		</div>


		<div class="col-sm-12 col-lg-4 m-3 p-4 rounded" style="background-color: #111111; border-radius: 10px;">
			<p class="home-title mt-0">Friends</p>
			<div class="col-12 p-0"><a class="mybtn btn-block my-3" href="<%= users_path %>"><i class="fas fa-plus"></i> Add
					new friends</a></div>
			<div style="max-height: 30vh; overflow-y: auto" id="friendDiv">


				<% @friends.each do |friend| %>
				<a class="btn btn-outline-dark btn-block justify-content-center mb-3" href="<%= user_path(friend) %>">
					<p class="d-inline-block align-middle my-0 p-2" style="color: white">
						<%= image_tag("default-avatar.png", :class => "mr-2", :width => "30px") %>

						<%= friend.username %></p>
					<% end %>
				</a>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag 'homes' %>