<div class="jumbotron jumbotron-fluid"
	style="background: linear-gradient(to right, #EC0011 0%, #4D0009 100%); border-radius: 10px">
	<div class="container">
		<h1 class="display-4">Unity</h1>
		<p class="lead">Find friends with Unity, schedule time to play together</p>
	</div>
</div>

<div class="container-fluid">
	<div class="row d-flex justify-content-around">
		<div class="col-7 m-3 p-4" style="background-color: #111111; border-radius: 10px">
			<div class="row">
				<div class="col-12">
					<p class="home-title">Upcoming Games</p>

					<% @schedules.each do |schedule| %>
					<p>
						<a class="btn d-block btn-outline-dark" href="<%= schedule_path(schedule) %>" style="color: white">
							<%= schedule.event %><br />
							<%= schedule.start_time.in_time_zone("Singapore").strftime("%e %b - %I:00 %p") %>
							<% if schedule.users.length > 0 %>
							<br />with
							<% schedule.users.each_with_index do |users, index| %>
							<% if index >= 1 %>
							& <%= users.username %>
							<% else %>
							<%= users.username %>
							<% end %>
							<% end %>
							<% end %>
					</p>
					</a>

					<% end %>

					<% @friend_schedule.each do |schedule| %>
						<p><a class="btn d-block btn-outline-dark" href="<%= schedule_path(schedule) %>" style="color: white"><%= schedule.event %></a></p>
					<% end %>

					<a class="btn btn-dark btn-block mx-auto" href="<%= schedules_path %>"><i class="fas fa-plus"></i> Add new
						event</a>

				</div>
			</div>

		</div>

		<div class="col-4 m-3 rounded" style="background-color: #111111; border-radius: 10px">
			<p class="home-title mt-3">Friends</p>

			<% @friends.each do |friend| %>
			<a class="btn btn-outline-dark btn-block justify-content-center my-3" href="<%= user_path(friend) %>">
				<% if friend.online_status == 'true' %>
				<div class="online"></div>
				<% end %>
				<p class="d-inline-block align-middle my-0 p-2" style="color: white">
					<%= image_tag("default-avatar.png", :class => "mr-2", :width => "30px") %>

					<%= friend.username %></p>
				<% end %>
			</a>
			<a class="btn btn-dark btn-block my-3" href="<%= users_path %>"><i class="fas fa-plus"></i> Add new friends</a>
		</div>
	</div>
</div>