<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to right, #EC0011 0%, #4D0009 100%)">
	<div class="container">
		<h1 class="display-4">Unity</h1>
		<p class="lead">Find friends with Unity, schedule time to play together</p>
	</div>
</div>

<div class="container-fluid">
	<div class="row d-flex justify-content-around">
		<div class="col-7 m-3 p-4" style="background-color: #111111">
			<div class="row">
				<div class="col-12">
					<p>UPCOMING GAMES</p>
					<% @schedules.each do |schedule| %>
						<p><a href="<%= schedule_path(schedule) %>"><%= schedule.event %></a></p>
					<% end %>
				</div>
			</div>

		</div>

		<div class="col-4 m-3 rounded" style="background-color: #111111" >
				<% @friends.each do |friend| %>
				<a class="btn btn-outline-dark btn-block justify-content-center my-3" href="<%= user_path(friend) %>">
					<% if friend.online_status == 'true' %>
						<div class="online"></div>
					<% end %>
						<p class="d-inline-block align-middle my-0 p-2" style="color: white"><img src="https://alternative.me/icons/meetme.png" width= "30px" alt="">
						<%= friend.username %></p>
					<% end %>
				</a>
			<a class="btn btn-dark btn-block my-3" href="<%= users_path %>">Add new Friends</a>
		</div>
	</div>
</div>