<div class="freetimes">
	<h1 class="display-4">Choose free time slots</h1>

	<% unless @datetime.to_date == DateTime.current.to_date %>

	<a href=" ?counter=decrease"><span class="icons-lg">&#x2190;</span></a>
	<% end %>
	<span class="m-3" style="font-size: 1.5rem">
		<%= @datetime.strftime("%A, %d %B %Y") %>
	</span>

	<a href="?counter=increase"><span class="icons-lg">&#x2192;</span></a>
	<% if @datetime.to_date != DateTime.current.to_date %>
	<br />
	<a href="/freetimes/new"><button class="btn btn-outline-light mt-2">Today</button></a>
	<% end %>
	<div class="col-12">

		<div class="form-check center">
			<%= form_with scope: :freetime, url: freetimes_path, local: true do |f| %>
			<% require 'time' %>

			<% hour_step = (1.to_f/24) %>

			<% date_time = @datetime.at_beginning_of_hour() %>
			<% date_time_limit = @datetime.end_of_day() %>

			<div class="d-flex flex-column flex-wrap justify-content-start align-items-stretch p-4" style="height: 65vh">
			<% date_time.step(date_time_limit,hour_step).each_with_index do |e, index| %>

				<% unless index == 0 %>
				<% unless @userfreetimes.include? e %> 

				<p>
					<%= check_box(:freetime, :time, {:multiple => true, :class => "mr-3"}, e, nil) %>
					<%= f.label(e.end_of_hour().strftime("%I:00 %p - %I:%M %p")) %>
				</p>
				<% end %>
				<% end %>
				<% end %>
			</div>

		</div>

<p class="error">
  <%= show_errors(@freetime, :time) %>
</p>

		<div class="form-group">
			<%= f.submit({:class => "btn btn-danger"}) %>
		</div>
		<% end %>
	</div>